<div class="row">
  <div class="col-md-8">
    {{#object-form action="create" buttonLabel="Creeer"}}
      <div class="row">
      <div class="col-md-4">
      {{ form-field label="Project" value=project }}
      </div>
      </div>
      <div class="row">
      <div class="col-md-2"> 
      {{ form-field label="postcode" value=postcode  }}
      </div>
       <div class="col-md-6"> 
       {{ form-field label="gemeente" value=gemeente  }}
      </div>
      </div>
      
      {{ form-field label="password" value=password  }}
      
    {{/object-form}}
  </div>
</div>

